@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /*
    --cor1: #AEEF5D;
    --cor2: #538F71; 
    --cor3: #B588FF;
    --cor5: #53EDAB;
    --cor6: #ACEDA2;
    --cor-hover: #EAF046;*/

    /* 
    --cor1: #114232;
    --cor2: #87A922; 
    --cor3: #FCDC2A;
    --cor5: #F7F6BB;
    --cor6: #ACEDA2;
    --cor-hover: #EAF046;*/
    
    /*
    --cor1: #FFB534;
    --cor2: #FBF6EE; 
    --cor3: #C1F2B0;
    --cor5: #65B741;
    --cor6: #ACEDA2;
    --cor-hover: #EAF046;*/
    
    /*
    --cor1: #425F57;
    --cor2: #749F82; 
    --cor3: #A8E890;
    --cor5: #CFFF8D;
    --cor6: #ACEDA2;
    --cor-hover: #EAF046;*/

    --cor1: #DADAF5;
    --cor2: #86A37E; 
    --cor3: #84F562;
    --cor5: #756E6A;
    --cor6: #F59462;
    --cor-hover: #3E3E75;    

    --fonte1: 'Krona One', sans-serif;
    --fonte2: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor1);
    color: var(--cor2);
}

.cabecalho {
    background-color: var(--cor2);
    padding: 2%;
}

.cabecalho__menu {
    padding-left: 15%;
    display: flex;
    gap: 80px;
}

.cabecalho__menu__navegacao {
    font-family: var(--fonte2);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor3);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte1);
}

.titulo-destaque{
    color: var(--cor3);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte2);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte1);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor3);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor2);
    font-family: var(--fonte2);
}

.apresentacao__links__projetos:hover {
    text-decoration: underline;
}

.rodape {
    color: var(--cor1);
    background-color: var(--cor2);
    padding: 1%;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 5%;
}

.apresentacao__links__projetos {
    text-decoration: none;
    color: var(--cor2);
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 50px;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}